.poll-card .chart-card-content {
    background-color: #f9fafb !important;
}

.poll-card .statistics-column {
    display: flex !important;
    flex-direction: column !important;
    align-items: end !important;
    right: -45px !important;
    gap: 10px !important;
}

.poll-card .statistics-column i {
    margin: 0 !important;
}

.poll-card .header a {
    color: #474747;
}