.poll-card .poll-id {
    padding-right: 10px;
    opacity: 0.2;
}

.poll-card .poll-link-icon {
    padding-left: 10px;
    opacity: 0.2;
}

.poll-card .chart-card-content {
    background-color: #f9fafb !important;
    height: 256px;
}

.poll-card .statistics-column {
    display: flex !important;
    flex-direction: column !important;
    align-items: end !important;
    right: -45px !important;
    gap: 10px !important;
}

.poll-card .statistics-column i {
    margin: 0 !important;
}

.poll-card .header a {
    color: #474747;
}